<ion-content>
    <div class="main_content_div">

        <div class="upper_div">
            <ion-buttons slot="start">
                <ion-menu-button  color="light"></ion-menu-button>
            </ion-buttons>

            <div class="flex_div">
                <ion-label class="head_lbl">Gregoty Smith</ion-label>
                <div [style.backgroundImage]="'url(assets/imgs/user.jpg)'" class="user_image"></div>
            </div>
        </div>

        <div class="lower_div">
            <span *ngFor="let msg of messages">
                <div class="main_div_right" *ngIf="msg.side == 'right'">
                    <div class="msg_div">
                        <div class="inner_msg">
                          {{msg.msg}}
                        </div>
                    </div>
                    <div class="tri_right"></div>
                </div>

                <div class="main_div_left" *ngIf="msg.side == 'left'">
                    <div class="msg_div">
                        <div class="inner_msg">
                            {{msg.msg}}
                        </div>
                    </div>
                    <div class="tri_left"></div>
                </div>
            </span>  
        </div>
        
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="footer_div">
            <ion-input type="text" placeholder="Type a message.."></ion-input>
            <ion-icon class="send_btn" name="send-sharp"></ion-icon>
        </div>
    </ion-toolbar>
</ion-footer>
