.main_content_div{
    width: 100%;
    background: white;
    position: relative;

    .upper_div{
        width: 100%;
        height: 150px;
        background : var(--ion-color-main);
        position: relative;
        padding: 20px;

        .back_img{
            width: 18px;
            margin-top: 20px;
        }

        .flex_div{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .head_lbl{
                color: white;
                font-weight: bold;
                font-size: 30px;
                display: block;
            }
            .user_image{
                height: 50px;
                width: 50px;
                border-radius: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .lower_div{
        padding: 20px;
        .main_div_right{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: relative;
            .msg_div{
                display: flex;
                justify-content: flex-end;
                width: 80%;
                margin-bottom: 15px;
                .inner_msg{
                    background-color: #F0EFF5;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
            .tri_right{
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid #F0EFF5;
                border-left: 10px solid transparent;
                bottom: 10px;
            }
        }
        .main_div_left{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            position: relative;
            .msg_div{
                display: flex;
                justify-content: flex-start;
                width: 80%;
                margin-bottom: 15px;
                .inner_msg{
                    background-color: var(--ion-color-main);
                    padding: 10px;
                    border-radius: 5px;
                    color: white;
                }
            }
            .tri_left{
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid var(--ion-color-main);
                border-right: 10px solid transparent;
                bottom: 10px;
            }
        }
    }
}

.footer_div{

    ion-toolbar{
        --background: #FDFDFD;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    ion-input{
        border: 1px solid lightgray;
        border-radius: 5px;
        --padding-start: 8px;
        height: 20px;
        height: 35px;
    }

    .send_btn{
        font-size: 20px;
        color: var(--ion-color-main);
        margin-left: 10px;
    }
}