.main_content_div{
    width: 100%;
    background: white;

    .upper_div{
        width: 100%;
        height: 200px;
        background : var(--ion-color-main);
        position: relative;
        padding: 20px;

        .back_img{
            width: 18px;
            margin-top: 20px;
        }
        .head_lbl{
            margin-top: 20px;
            color: white;
            font-weight: bold;
            font-size: 30px;
            display: block;
        }
        .small_lbl{
            margin-top: 20px;
            color: white;
            display: block;
        }
    }

    .lower_div{
        width: 100%;
        padding: 30px;
        margin-top: 70px;
        text-align: center;

        .otp-input{
            border: none !important;
        }
        ion-button{
            margin-top: 30px;
            --background: var(--ion-color-main);
            --border-radius: 5px;
        }
    }
}