.main_content_div{
    width: 100%;
    height: 100vh;
    position: relative;
  
    .map{
      width: 100%;
      height: 70vh;
    }

    .back_div{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
        margin-left: 16px;
        margin-top: 16px;
        position: absolute;
        z-index: 999;
        background: white;

        img{
            width: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .modal_div{
        height: 33vh;
        // padding: 20px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        position: absolute;
        width: 100%;
        z-index: 99999;
        margin-top: -25px;
        background: white;

        ion-label {
            display: block;
        }

        .upper_div{
            background: #F6F5F6;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            .first_div{
                display: flex;
                align-items: center;
                img{
                    width: 50px;
                }
                .lbls{
                    padding-left: 10px;

                    .bold_lbl{
                        font-weight: 600;
                    }
                    .light_lbl{
                        color: gray;
                    }
                }
            }
            .second_div{
                .light_lbl{
                    color: gray;
                }
                .red_lbl{
                    color: red;
                    font-size: 18px;
                    font-weight:600;
                }
            }
        }

        .flex_div{
            padding: 16px;
            ion-col{
                text-align: center;
                border-right: 1px solid lightgray;
                ion-label {
                    color: #a0a0a0;
                    font-size: 14px;
                    margin-top: 5px;
                }
            }

            img{
                width: 20px;
            }

            ion-button{
                margin-top: 15px;
                --border-radius: 5px;
            }
        }
    }
}