.main_content_div{
    width: 100%;
    background: white;
    position: relative;

    ion-label {
        display: block;
    }

    .upper_div{
        width: 100%;
        height: 200px;
        background : var(--ion-color-main);
        position: relative;
        padding: 20px;

        .back_img{
            width: 18px;
            margin-top: 20px;
        }

        .flex_div{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .star_img{
                width: 20px;
            }
            .prize{
                font-weight: 500;
                color: white;
                margin-left: 10px;
            }
            .head_lbl{
                color: white;
                font-weight: bold;
                font-size: 30px;
                display: block;
            }
            ion-datetime{
                background: #49D9A6 !important;
                border-radius: 25px;
                --padding-start: 16px;
                --padding-end: 16px;
                width: max-content;
                color: white;
            }
        }
    }

    .lower_div{
        z-index: 999999;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%);
        width: 90%;

        .balance_card {
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
            background: white;
            border-radius: 5px;
            margin-bottom: 20px;

            .money_lbl {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 16px;

                span {
                    color: var(--ion-color-main);
                    font-weight: 600;
                }
            }
            .add_lbl {
                text-align: center;
                font-weight: 600;
                color: var(--ion-color-main);
                border-top: 1px solid lightgrey;
                padding: 16px;
            }
        }

        ion-input {
            border: 1px solid lightgrey;
            --padding-start: 16px;
            --padding-end: 16px;
            border-radius: 3px;
        }
        .btn_div {
            margin-top: 20px;
            text-align: center;
            ion-button {
                --border-radius: 25px;
            }
        }

        .last_btn {
            --border-radius: 3px;
            display: block;
            margin: auto;
            margin-top: 30px;
        }

       
    }
}