.main_content_div{
    width: 100%;

    .gradient_div{
        padding: 20px;
        background-image: linear-gradient(to top, var(--ion-color-main), rgba(112, 233, 192, 0.6));
        height: 70vh;

        .head_div{
            display: flex;
            justify-content: center;
            align-items: center;
            .back_img{
                width: 20px;
                position: absolute;
                left: 20px;
            }
            .head_lbl{
                color: white;
                font-weight: 500;
                font-size: 18px;
            }
        }

        .gift_box{
            height: 150px;
            width: 150px;
            display: block;
            margin: auto;
            margin-top: 100px;
        }

        ion-label{
            display: block;
            text-align: center;
        }
        .bold_lbl{
            font-weight: bold;
            font-size: 26px;
        }
    }  
    
    .simple_div{
        padding: 20px;
        .head_lbl{
            font-weight: 500;
            font-size: 18px;
        }

        ion-input{
            margin-top: 20px;
            border-bottom: 1px solid black;
            font-weight: 500;
            font-size: 22px;
        }
        .up_icn{
            position: absolute;
            right: 0;
            font-size: 25px;
            color: var(--ion-color-main);
        }
        ion-button{
            --background: var(--ion-color-main);
            --border-radius: 5px;
            margin-top: 20px;
        }
    }
}           