<ion-content>
    <div class="main_content_div">
        <ion-slides pager="true">

            <ion-slide>
                <div class="slide_div">
                    <img src="assets/imgs/slide_1.png" class="slide_img">
                    <ion-label class="head_lbl">Request Ride</ion-label>
                    <ion-label class="small_lbl">Request a ride get picked up by a <br> near by community driver</ion-label>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide_div">
                    <img src="assets/imgs/slide_2.png" class="slide_img">
                    <ion-label class="head_lbl">Confirm Your Driver</ion-label>
                    <ion-label class="small_lbl">Huge drivers network helps you find <br>Comfortable, cheap and safe ride </ion-label>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide_div">
                    <img src="assets/imgs/slide_3.png" class="slide_img">
                    <ion-label class="head_lbl">Track Your Ride</ion-label>
                    <ion-label class="small_lbl">Know your driver im advance and be able<br> to view current location in real time<br> on the map</ion-label>
                    <ion-button class="start_btn" (click)="goToWelcome()">
                      GET STARTED!
                    </ion-button>
                </div>
            </ion-slide>

        </ion-slides>
    </div>
</ion-content>
