<ion-content>
    <div class="main_content_div">
      
        <div class="upper_div">
            <img src="assets/imgs/welcome.png" class="taxi_img">
        </div>

        <div class="lower_div">
            <ion-label class="head_lbl">Hi, nice to meet you!</ion-label>
            <ion-label class="small_lbl">Choose your location to start find <br> restaurant around you</ion-label>
            <ion-button (click)="goToLogin()" class="loc_btn" expand="block" fill="outline">
                <img src="assets/imgs/send.png" class="send_icn">USe Current Location
            </ion-button>
            <div class="red_lbl_div">
                <span class="red_lbl">Select it manually</span>
            </div>
        </div>

    </div>
</ion-content>
