ion-content{
    --background: #F9F9F9;
}
.main_content_div{
    width: 100%;
    background: white;
    position: relative;

    .upper_div{
        width: 100%;
        height: 150px;
        background : var(--ion-color-main);
        position: relative;
        padding: 20px;

        .back_img{
            width: 18px;
            margin-top: 20px;
        }

        .flex_div{
            .head_lbl{
                color: white;
                font-weight: bold;
                font-size: 30px;
                display: block;
            }
        }
    }

    .lower_div{
        width: 100%;
        padding-top: 20px;
        background: #f9f9f9;
        .list_div{
            background: white;
            display: flex;
            flex-direction: row;
            width: 100;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding: 20px;
            .first_div{
                display: flex;
                flex-direction: row;
                align-items: center;

                .profile_pic{
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .username{
                    font-weight: 500;
                    display: block;
                }
                .small_lbl{
                    display: block;
                    color: lightgray;
                }
            }
            .second_div{
                .nxt_img{
                    width: 17px;
                }
            }
        }
    }

    .last_div{
        margin-top: 20px;
    }
    .log_class{
        margin-top: 25px;
        display: block;
        text-align: center;
        background: white;
        color: lightgray;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}