.main_content_div{
    width: 100%;
    padding: 20px;

    .radio_img{
        width: 20px;
        height: 20px;
    }
    .loc_lbl{
        margin-left: 10px;
        width: 100%;
        // border-bottom: 1px solid lightgray;
    }
    .line_img{
        width: 20px;
        height: 25px;
    }
    .loc_lbl{
        margin-left: 10px;
    }
    .small_lbl{
        font-size: 12px;
        color: lightgray;
    }
    ion-input{
        --padding-top: 0px;
    }
    .flex_div{
        display: flex;
        margin-top: 10px;

        .gray_line{
            border: 1px solid lightgray;
            height: 1px;
            width: 100%;
        }
    }
}
