<ion-content>
    <div class="main_content_div">
        <div class="up_div">  
            <ion-label class="small_lbl">PICKUP</ion-label>

            <div class="flex_div">
                <img src="assets/imgs/radio.png" class="radio_img">
                <ion-label class="loc_lbl">134 Williamst, Choicago, US</ion-label>
            </div>

            <div class="flex_div" style="align-items: center;">
                <img src="assets/imgs/lines.png" class="line_img">
                <div class="gray_line"></div>
            </div>

            <ion-label class="small_lbl">DROP OFF</ion-label>

            <div style="display: flex;margin-top: 10px;">
                <img src="assets/imgs/pin.png" class="radio_img">
                <ion-input type="text" class="loc_lbl" (ionFocus)="openModal()" placeholder="Awesome Input"></ion-input>
            </div>
        </div>
    </div>
</ion-content>
