.main_content_div{
    width: 100%;
    background: white;
    position: relative;

    .upper_div{
        width: 100%;
        height: 200px;
        background : var(--ion-color-main);
        position: relative;
        padding: 20px;

        .menu_div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .back_img{
            width: 18px;
            margin-top: 20px;
        }

        .flex_div{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .head_lbl{
                color: white;
                font-weight: bold;
                font-size: 30px;
                display: block;
            }
            ion-datetime{
                background: #49D9A6 !important;
                border-radius: 25px;
                --padding-start: 16px;
                --padding-end: 16px;
                width: max-content;
                color: white;
            }
        }
    }

    .lower_div{
        z-index: 999999;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%);
        width: 90%;

        .flex_div{
            display: flex;
            flex-direction: row;
            align-items: center;

            .image_div{
                background: var(--ion-color-main);
                width: 50px;
                height: 50px;
                border-radius: 100%;
                position: relative;
                .radio_img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 25px;
                }
            }
        }
        
        .up_div{
            padding: 15px;
            background: white;
            background: white;
            border-radius: 5px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
            margin-bottom: 20px;

            .main_lbl{
                font-weight: 500;
                display: block;
                margin-bottom: 10px;
                font-weight: 600;
            }
            .flex_div2{
                background: #F8F8F8;
                border-radius: 5px;
                border: 1px solid lightgray;
                height: 50px;
                display: flex;
                align-items: center;
                padding-left: 16px;
                margin-bottom: 20px;
                position: relative;
                .icn{
                    width: 25px;
                    margin-right: 16px;
                }
                .verify_icn{
                    width: 20px;
                    position: absolute;
                    right: 10px;
                }
            }
        }

        .btn_div{
            margin-top: 40px;
            ion-button{
                --border-radius: 5px;
            }
        }
    }
}