.main_content_div{
    width: 100%;
    background: white;
    position: relative;

    ion-label {
        display: block;
    }

    .upper_div{
        width: 100%;
        height: 150px;
        background : var(--ion-color-main);
        position: relative;
        padding: 20px;

        .back_arrow {
            color: white;
            font-size: 30px;
            margin-top: 16px;
        }

        .head_lbl{
            color: white;
            font-weight: bold;
            font-size: 30px;
            display: block;
        }
    }

    .lower_div{
        width: 100%;
        padding: 30px 16px;

        ion-label {
            margin-bottom: 5px;
            font-size: 14px;
        }

        ion-input, ion-datetime {
            border-radius: 3px;
            border: 1px solid lightgrey;
            margin-bottom: 16px;
            --padding-start: 16px;
            --padding-end: 16px;
            height: 40px;
        }

        ion-button {
            --border-radius: 3px;
        }
    }
}