.main_content_div{
    width: 100%;
    background: white;

    .upper_div{
        width: 100%;
        height: 300px;
        background-image: linear-gradient(to top, var(--ion-color-main), rgba(112, 233, 192, 0.6));
        position: relative;

        .taxi_img{
            height: 150px;
            width: 150px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .lower_div{
        z-index: 999999;
        position: absolute;
        top: 250px;
        background: white;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;

        .main_form_div{
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        }

        .segment_div{
            width: 100%;
            display: flex;
            flex-direction: row;
            font-weight: bold;
            font-size: 20px;
            justify-content: space-evenly;
            border-bottom: 1px solid lightgray;
            padding-top: 20px;
            padding-bottom: 20px;

            .inner_div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .line_div{
                border: 2px solid var(--ion-color-main);
                height: 1px;
                width: 30px;
                margin-top: 10px;
                border-radius: 25px;
            }
        }
        .form_div{
            padding: 20px;

            ion-input{
                border: 1px solid lightgray;
                border-radius: 5px;
                --padding-start: 8px;
                margin-bottom: 20px;
            }
            ion-button{
                --background: var(--ion-color-main);
                --border-radius: 5px;;
            }
        }

        .facebook_div{
            margin-top: 40px;

            ion-button{
                --background: #4267b2;
                --border-radius: 5px;
            }
            .small_lbl{
                font-size: 12px;
                display: block;
                text-align: center;
                margin-top: 10px;
            }
        }
    }

    
}