<ion-content>
    <div class="main_content_div">

        <div class="upper_div">
            <img src="assets/imgs/welcome.png" class="taxi_img">
        </div>

        <div class="lower_div">

            <div class="main_form_div">
                <div class="segment_div">
                    <div class="inner_div" (click)="changeSegment(1)">
                        Sign Up
                        <div class="line_div" *ngIf="seg_id == 1"></div>
                    </div>
            
                    <div class="inner_div" (click)="changeSegment(2)">
                        Sign In
                        <div class="line_div" *ngIf="seg_id == 2"></div>
                    </div>
                </div>

                <div class="form_div" *ngIf="seg_id == 1">
                    <ion-input type="text" placeholder="name@example.com"></ion-input>
                    <ion-input type="text" placeholder="9876545342"></ion-input>
                    <ion-button (click)="goToVerification()" expand="block">Sign Up</ion-button>
                </div>
          
                <div class="form_div" *ngIf="seg_id == 2">
                    <ion-input type="text" placeholder="9876545342"></ion-input>
                    <ion-button (click)="goToVerification()" expand="block">Next</ion-button>
                </div>

            </div>
          
              <div class="facebook_div" *ngIf="seg_id == 1">
                  <ion-button (click)="goToVerification()" expand="block">
                      <ion-icon name="logo-facebook" style="margin-right: 10px;"></ion-icon>Connect with facebook
                  </ion-button>

                  <ion-label class="small_lbl">By clicking start, you agree to our <span style="font-weight: bold;">terms and conditions</span></ion-label>
              </div>

        </div>

    </div>
</ion-content>
