.main_content_div{
    width: 100%;
    background: white;
    position: relative;

    .upper_div{
        width: 100%;
        height: 150px;
        background : var(--ion-color-main);
        position: relative;
        padding: 20px;

        .back_img{
            width: 18px;
            margin-top: 20px;
        }

        .flex_div{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .head_lbl{
                color: white;
                font-weight: bold;
                font-size: 30px;
                display: block;
            }
            .user_image{
                height: 50px;
                width: 50px;
                border-radius: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .lower_div{
        width: 100%;
        padding-top: 20px;
        background: #f9f9f9;

        ion-input {
            color: lightgray;
            text-align: right;
        }

        .small_lbl{
            color: lightgray;
        }
        ion-datetime{
            color: lightgray;
        }
    }
}