<ion-content>
    <div class="main_content_div">
        <div class="upper_div">
            <ion-buttons slot="start">
                <ion-menu-button  color="light"></ion-menu-button>
            </ion-buttons>
            <div class="flex_div">
                <ion-label class="head_lbl">My Account</ion-label>
                <div [style.backgroundImage]="'url(assets/imgs/user.jpg)'" class="user_image"></div>
            </div>
        </div>

        <div class="lower_div">

            <div class="last_div" style="margin-bottom: 20px;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;">
                <ion-item lines="none" detail>
                    <ion-label>Level
                    </ion-label><span class="small_lbl">Gold Member</span>
                </ion-item>
            </div>

            <div class="last_div">
                <ion-item detail>
                    <ion-label>
                      Name
                    </ion-label>
                    <ion-input type="text" value="Lerry Devis"></ion-input>
                    <!-- <span class="small_lbl">Lerry Devis</span> -->
                </ion-item>
                <ion-item detail>
                    <ion-label>
                      Email
                    </ion-label>
                    <ion-input type="text" value="example@gmail.com"></ion-input>
                    <!-- <span class="small_lbl">example@gmail.com</span> -->
                </ion-item>
                <ion-item detail>
                    <ion-label>
                      Gender
                    </ion-label>
                    <ion-input type="text" value="Male"></ion-input>
                    <!-- <span class="small_lbl">Male</span> -->
                </ion-item>
                <ion-item detail>
                    <ion-label>
                      Birth Day
                    </ion-label>
                    <ion-datetime displayFormat="MMMM,DD YYYY" value="2020/02/20" min="1994-03-14" max="2012-12-09"></ion-datetime>
                </ion-item>
                <ion-item detail>
                    <ion-label>
                        Phone Number
                    </ion-label>
                    <ion-input type="text" value="9876543453"></ion-input>
                    <!-- <span class="small_lbl">9876543453</span> -->
                </ion-item>
            </div>

        </div>
    </div>
</ion-content>
