ion-toolbar{
    --background: #f5f5f5;
}

.main_content_div{
    padding: 16px;

    ion-input{
        border: 1px solid lightgray;
        margin-top: 25px;
        border-radius: 5px;
    }

    img{
        width: 20px;
        margin-left: 7px;
        margin-right: 7px;
    }

    ion-button{
        margin-top: 25px;
        --border-radius: 5px;
    }
}